Один из самых известных алгоритмов машинного обучения, основной задачей которого является восстановление плотностей распределения данных обучающей выборки. Зачастую этот метод дает хорошее качество в задачах именно многоклассовой классификации.

In [2]:
from sklearn import datasets, cross_validation, metrics
from sklearn.naive_bayes import BernoulliNB, MultinomialNB, GaussianNB # подключим модели Наивного Байеса

In [3]:
# Загрузим данные из датасетов
Digits = datasets.load_digits() # первый датасет
Breast_cancer = datasets.load_breast_cancer() # второй датасет

In [4]:
print "Ключи Digits: {}".format(Digits.keys())
print "Ключи Breast_cancer: {}".format(Breast_cancer.keys())

Ключи Digits: ['images', 'data', 'target_names', 'DESCR', 'target']
Ключи Breast_cancer: ['target_names', 'data', 'target', 'DESCR', 'feature_names']

In [5]:
from pandas import DataFrame

# создаем таблицы из дыннх по data
digits = DataFrame(Digits.data)
breast_cancer = DataFrame(Breast_cancer.data)

In [6]:
digits.head(5)

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0

In [7]:
breast_cancer.head(5)

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

### Распределение Бернули

In [15]:
# Первая модель Digits
model_1 = BernoulliNB()
model_1.fit(Digits.data, Digits.target)

# Построим кросс-валидацию для оценки модели
score  = cross_validation.cross_val_score(model_1, Digits.data, Digits.target)

# средняя оценка модели
print score.mean()

# ---------------------------

# Первая модель Breast_cancer
model_12 = BernoulliNB()
model_12.fit(Breast_cancer.data, Breast_cancer.target)

# Построим кросс-валидацию для оценки модели
score  = cross_validation.cross_val_score(model_12, Breast_cancer.data, Breast_cancer.target)

# средняя оценка модели
print score.mean()

0.825823650778
0.627420402859

### Мультиномиальное распределение

In [16]:
# Вторая модель Digits
model_2 = MultinomialNB()
model_2.fit(Digits.data, Digits.target)

# Построим кросс-валидацию для оценки модели
score  = cross_validation.cross_val_score(model_2, Digits.data, Digits.target)

# средняя оценка модели
print score.mean()

# ---------------------------

# Вторая модель Breast_cancer
model_22 = MultinomialNB()
model_22.fit(Breast_cancer.data, Breast_cancer.target)

# Построим кросс-валидацию для оценки модели
score  = cross_validation.cross_val_score(model_22, Breast_cancer.data, Breast_cancer.target)

# средняя оценка модели
print score.mean()

0.870877148974
0.894579040193

### Гауссовское Распределение

In [19]:
# Третья модель Digits
model_3 = GaussianNB()
model_3.fit(Digits.data, Digits.target)

# Построим кросс-валидацию для оценки модели
score  = cross_validation.cross_val_score(model_3, Digits.data, Digits.target)

# средняя оценка модели
print score.mean()

# ---------------------------

# Третья модель Breast_cancer
model_32 = GaussianNB()
model_32.fit(Breast_cancer.data, Breast_cancer.target)

# Построим кросс-валидацию для оценки модели
score  = cross_validation.cross_val_score(model_32, Breast_cancer.data, Breast_cancer.target)

# средняя оценка модели
print score.mean()

0.818600380355
0.936749280609

In [22]:
# запишем первый ответ в файл
with open("answer_1.txt", "w") as F:
    F.write("0.936749280609")

In [23]:
# запишем второй ответ в файл
with open("answer_2.txt", "w") as F:
    F.write("0.870877148974")

1) На вещественных признаках лучше всего сработал наивный байесовский классификатор с распределением Бернулли (нет)

2) На вещественных признаках лучше всего сработал наивный байесовский классификатор с мультиномиальным распределением (нет)

3) Мультиномиальное распределение лучше показало себя на выборке с целыми неотрицательными значениями признаков (Да)

4) На вещественных признаках лучше всего сработало нормальное распределение (Да)

#### Вывод: Мультиномиальное распределение уместней на целых неотрицательных признаках, а гауссовское - на вещественных

In [24]:
# запишем третий ответ в файл
with open("answer_3.txt", "w") as F:
    F.write("3 4")